AIRFLOW_UID=1000
FERNET_KEY=nOwQ_lZ18PNyNsM6NrRIn4vxyvPtGZEjly7UdDJc-0A=

# AWS credentials
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=eu-west-1

# DAG variables
AWS_CONN_ID=aws_default
BRONZE_TO_SILVER_GLUE_JOB=parking-pipeline-dev-bronze-to-silver
SILVER_TO_GOLD_GLUE_JOB=parking-pipeline-dev-silver-to-gold
EMAIL_LAMBDA_FUNCTION=parking-pipeline-dev-email-reporter
SNS_TOPIC_ARN=arn:aws:sns:eu-west-1:123456789012:parking-pipeline-dev-alerts

# dbt variables
DBT_PROJECT_DIR=/opt/airflow/parking_analytics